.enrollment_form input[type="text"] {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  padding-inline: 0.5rem;
}

.enrollment_form .submit {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 3rem;
  transition: all 300ms ease-in;
}

.enrollment_form .submit:hover {
  background-color: rgb(58, 58, 58);
}

.errors {
  color: white;
  background-color: red;
  text-align: center;
  padding-block: 0.25rem;
  width: 100%;
  position: fixed;
}

.enrollment_form input[type="date"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-inline: 0.25rem;
}

.enrollment_form ul {
  list-style: none; /* Remove default bullets */
  padding-left: 1.5em;
}

.custom-bullet::before {
  content: "";
  display: inline-block;
  width: 0.55em;
  height: 0.55em;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1.5em;
  vertical-align: middle;
}

.enrollment_form {
  width: 80%;
  margin: auto;
}

.enrollment_form h5 {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.space_btw {
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.flex_width {
  flex: 1;
}

.short_input {
  width: 21rem;
}

.text_align_center {
  text-align: center;
}

.date_comp_sign {
  display: flex;
  justify-content: space-between;
}

.centered-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.gender_field label,
.gender_field input[type="checkbox"] {
  margin-inline: 0.25rem;
}

.centered-list ul {
  text-align: left;
  list-style-position: inside;
}

.prek_text {
  margin-bottom: 8rem !important;
}

.addressbar {
  display: flex;
}

.addressbar div {
  display: flex;
  flex-direction: column;
}

.addressbar div {
  flex: 1;
  margin-block: 0.5rem;
}

.underneath_label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.underneath_label label,
.underneath_label input {
  text-align: center;
}

.input_spacer_med {
  margin-block: 1rem;
}

.spacer_lg {
  margin-block: 3rem;
}

.margin_right_small {
  margin-right: 1rem;
}

.director_review {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 2rem;
}

.director_review input {
  width: 15rem;
}

.enrollemnt_app_container input {
  flex: 1;
}

.underline {
  text-decoration: underline;
}

.child_release_authorization {
  margin-block: 5rem;
}

.child_release_authorization input {
  flex: 1;
}

.emergency_contact {
  margin-bottom: 5rem;
}

.emergency_contact input {
  flex: 1;
}

.school_info {
  margin-bottom: 5rem;
}

.school_info input {
  flex: 1;
}

.parent_agreement {
  margin-bottom: 4rem;
}

.parent_agreement div {
  margin-bottom: 1rem;
}

.parent_agreement div h5 {
  text-decoration: underline;
  margin-bottom: 0.2rem;
}

.parent_agreement_signature {
  width: 15rem;
}

.parent_agreement_date {
  width: 12rem;
}

.emergency_medical_authroization {
  margin-bottom: 4rem;
}

.emergency_medical_authroization p {
  margin-bottom: 1rem;
  text-align: justify;
}

.emergency_medical_authroization p input {
  width: 18rem;
}

.phy_and_tel_container input {
  width: 21rem;
  margin-bottom: 1rem;
}

.phy_and_tel_container label {
  text-align: center;
  margin-bottom: 2rem;
}

.double_row_input {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.double_row_input div {
  display: flex;
  flex-direction: column;
}

.double_row_input input {
  margin-block: 0.66rem;
  padding: 0.5rem;
}

.emergency_medical_authroization .sign {
  margin-bottom: 1.5rem;
}

.emergency_medical_authroization .sign input {
  width: 21rem;
}

.phone-section {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 150px 200px 100px;
  row-gap: 10px;
  align-items: center;
}

.phone-section label {
  /* margin-right: 10px; */
}

.phone-section input {
  width: 100%;
  /* padding: 5px; */
}

.spacer {
  /* Empty cell to align second and third lines */
}

.doc_info {
  margin-bottom: 4rem;
}

.doc_info div {
  display: flex;
  margin-block: 0.5rem;
}

.doc_info input {
  flex: 1;
}

.transport_agreement {
  margin-bottom: 1rem;
}

.transport_agreement div {
  display: flex;
  margin-block: 0.5rem;
}

.transport_agreement div input[type="text"] {
  flex: 1;
}

.vehicle_emergency {
  margin-bottom: 4rem;
}

.vehicle_emergency div {
  display: flex;
  margin-block: 0.5rem;
}

.vehicle_emergency div input[type="text"] {
  flex: 1;
}
.emergency_non_parents {
  margin-bottom: 4rem;
}

.emergency_non_parents .flex {
  display: flex;
  margin-block: 0.5rem;
}

.emergency_non_parents div input[type="text"] {
  flex: 1;
}

.allergy_statement {
  margin-bottom: 2.5rem;
}

.allergy_statement .flex {
  display: flex;
  margin-block: 0.5rem;
}

.allergy_statement div input[type="text"] {
  flex: 1;
}

.allergan_n_subs {
  display: flex;
  justify-content: space-between;
}

.allergan_n_subs div {
  display: flex;
  flex-direction: column;
}

.allergan_n_subs div,
.allergan_n_subs input {
  margin-block: 1rem;
}

.full_width {
  flex: 1;
}

.full_width label {
  text-align: center;
}
